
img {
    display: block;
    margin: auto;
    max-width: 100%;

}


h1.catalog-header {
    text-align: left;
}

.page-header {
    color: #2d3c49;
}



.divider {
    height: 4px;
    background: #7d97ad;
    margin: 10px;
}

article {
    text-align: center;
}
