{% extends "layout.html" %}
{% block title %}Category{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
  <h1>Categories</h1>
	{% if categories %}
		{% for category in categories %}
			<h3>{{category.name.title()}}</h3>
		{% endfor %}
	{% endif %}
	
	{% if selected_category %}
		<h1>{{selected_category.title()}} Items</h1>
	{% endif %}
	{% if items %}
		{% for item in items %}
			 <p>{{item.name.title()}}</p>
		{% endfor %}
	{% endif %}
{% endblock %}