{% extends "layout.html" %}
{% block title %}Category{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    {% include "header.html" %}
    <div class="row">
        <section class="col-md-6 category-list">
            <h1 class="text-left">Categories</h1>
            {% for category in categories %}
                <a href = "{{url_for('category_display',
                category = category.name)}}">
                    {{category.name.title()}}
                </a>
                <br>
            {% endfor %}
            {% if session.user_id == selected_category.creator_id %}
                <br>
                <a>
                    <i>Edit {{selected_category.name.title()}}</i>
                </a>
                <br>
                <a>
                    <i>Delete {{selected_category.name.title()}}</i>
                </a>
            {% endif %}
            <br>
            <a href="{{url_for('createCategory')}}"><i>Create new category</i></a>
        </section>
        <section class="col-md-6 category-list">
            {% if selected_category %}
                <h1 class="text-left">{{selected_category.name.title()}} Items</h1>
            {% endif %}
            {% if items %}
                {% for item in items %}
                    <a href="{{url_for('item_display',
                    category = selected_category,
                    item = item.name)}}">{{item.name.title()}}</a>
                {% endfor %}
            {% endif %}
            <br>
            <br>
            <a href="{{url_for('createItem')}}">
                <i>Create new item</i>
            </a>
        </section>
    </scetion>

{% endblock %}
   
