{% extends "layout.html" %}
{% block title %}Category{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    {% include "header.html" %}
    <div class="container">
        <div class = 'flash'>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li> <strong> {{ message }} </strong> </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>    
    </div>
    <div class="row">
        <section class="col-md-6 category-list">
            <h1 class="text-left">Categories</h1>
            {% for category in categories %}
                <a href = "{{url_for('category_display',
                category = category.name)}}">
                    {{category.name.title()}}
                </a>
                <br>
            {% endfor %}   
        </section>
        <section class="col-md-6 category-list">
            {% if selected_category %}
                <h1 class="text-left">{{selected_category.title()}} Items</h1>
            {% endif %}
            {% if items %}
                {% for item in items %}
                <a href="{{url_for('item_display',
                category = selected_category,
                item = item.name)}}">{{item.name.title()}}</a>
                <br>
                {% endfor %}
            {% endif %}
        </section>
    </scetion>

{% endblock %}
   
