<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
			<li>{{message}}</li>
		{% endfor %}
		</ul>
		{% endif %}
	{% endwith %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div id="content">{% block content %}{% endblock %}</div>
      <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by DCF Wight</a>.
        {% endblock %}
      </div>
    </div>
  </body>
</html>