
{% extends "bootstrap/base.html" %}
{% block head %}
    {{super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block body %}
    {% include "header.html" %}
    
    
    {% block content %}
    {% endblock %}
    
    
    {% block footer %}
        <div class="container">
            <!--<div class="row divider blue">
                 <div class="col-md-12"></div>
            </div>-->
            <div class = "row">
                <div class = "col-md-12">
                    <hr>
                </div>
            </div>
            <div class = "row footer">
                <div class = "col-md-12">
                &copy; Copyright 2017 by DCF Wight
                </div>    
            </div>
        </div>
    {% endblock %}
{% endblock %}
