{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
    <!-- these scripts create an anonymous function that inserts a script into the DOM of the login page-->
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}
{% block content %}
    {% include 'flasher.html' %}
    <div class="row">
        <div class = "col-md-12">
            <h1>Login to Catalog app</h1>    
        </div>
        <div class = "col-md-12">
            <!-- GOOGLE SIGN IN BUTTON -->
            <div id="g-signinButton">
                 <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="1037169925391-5ef49d1k79tql98tk4fhj5bjunq50ef4.apps.googleusercontent.com"
                    data-redirecturi='postmessage'
                    data-accesstype='offline'
                    data-cookiepolicy='single_host_origin'
                    data-callback='signInCallBack'
                    data-approvalprompt='force'>
                </span>
            </div>    
        </div>
    <div class="row">
        <div class="col-md-12">
            <div id='result'></div>    
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-12">
            <div id="fb-button">
                <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
                    <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
                </fb:login-button>
            </div>
        </div>
    </div>
    
    <!-- GOOGLE SIGN IN SCRIPT -->
    <script>
    function signInCallBack(authResult) {
        if (authResult.code) {
            // if the authResult contains 'code' we know that authorization was successful
            // Hide the sign-in button now that the user is authorized
            $('#g-signinButton').attr('style', 'display: none');
            $('#fb-button').attr('style', 'display: none');
            // Send the one-time-use code to the server, if the server responds,
            // write a 'login successful' message to the web page and then redirect
            // back to the main restaurants page
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{STATE}}',
                // pass the state token back to verify against cross-site forgery attack
                processData: false,
                // indicates we do not want jQuery to process the response into a string
                data: authResult.code, // sending the one-time use code as 'data'
                contentType: 'application/octet-stream; charset=utf-8',
                success: function(result) {
                    // Handle or verify the server response if necessary.
                    if (result) {
                        console.log('result receieved');
                        $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                        setTimeout(function() {
                            window.location.href = "/catalog";
                        }, 4000);

                    } else if (authResult.error) {
                        console.log('There was an error: ' + authResult.error);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
                    }
                }

            });
        }
    }
    </script>
    <!-- END GOOGLE SIGN IN SCRIPT -->
    
    <!-- FACEBOOK SIGN IN -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId   :'122146048459412',
                cookie  : true, // enable cookies to allow the server to access the session
                xfbml   : true, // parse social plugins on this page
                version : 'v2.10' // use version 2.10
            });
        };

        // Load the SDK asynchronously
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful. See statusChangeCallback() for when this call is made.
        function sendTokenToServer(){
            var access_token = FB.getAuthResponse().accessToken;
            console.log('access_token is:');
            console.log(access_token);
            console.log('Welcome! Fetching your information...');
            
            FB.api('/me', function(response){
                // Hide the buttons now we have logged in.
                $('#g-signinButton').attr('style', 'display: none');
                $('#fb-button').attr('style', 'display: none');
                console.log('Successful login for: ' + response.name);
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{STATE}}',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(result){
                        // Handle or verify the server response if necessary.
                        if (result) {
                            console.log(result);
                            $('#result').html('Login Successful!</br>' + result + '</br>Redirecting...');
                            setTimeout(function(){
                                window.location.href="/catalog";
                            }, 2000);
                        }
                        else {
                            $('#result').html('Failed to make a server-side call. Check your configuration and console');
                        }
                    }
                });
            });
        }
    </script>
  
{% endblock %}