{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
	<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="1037169925391-5ef49d1k79tql98tk4fhj5bjunq50ef4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<!-- these scripts create an anonymous function that inserts a script into the DOM of the login page-->
	<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
{% endblock %}
{% block content %}
  <h1>Login</h1>
  <p class="important">Welcome to the Login Screen.</p>
	<p>State is: {{state}}</p>
	<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script>
	
{% endblock %}